body {

    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

.canvaa {
    text-align: center;
    margin-left: 30%;
    margin-top: 5px;
    width: 60%;
    height: 700px;
    /* border: 1px solid silver; */

}

#third_picture {
    background-image: url('img_game/pic_hard1.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover
}

#bourse {
    -webkit-clip-path: polygon(0 74%, 14% 74%, 14% 100%, 0% 100%);
    clip-path: polygon(0 74%, 14% 74%, 14% 100%, 0% 100%);
    background-color: blue;
    left: 732px;
    top: 250px;
    position: absolute;
    width: 190px;
    height: 170px;
}

#muffin {
    -webkit-clip-path: polygon(25% 80%, 36% 86%, 32% 100%, 18% 100%, 14% 87%);
    clip-path: polygon(25% 80%, 36% 86%, 32% 100%, 18% 100%, 14% 87%);
    background-color: blue;
    left: 1340px;
    top: 365px;
    position: absolute;
    width: 190px;
    height: 170px;
}

#lune {
    -webkit-clip-path: polygon(45% 25%, 44% 17%, 38% 8%, 53% 15%, 54% 32%, 43% 42%, 28% 37%, 39% 32%);
    clip-path: polygon(45% 25%, 44% 17%, 38% 8%, 53% 15%, 54% 32%, 43% 42%, 28% 37%, 39% 32%);
    background-color: blue;
    left: 715px;
    top: 250px;
    position: absolute;
    width: 190px;
    height: 170px;
}

#brosse {
    -webkit-clip-path: polygon(14% 65%, 14% 60%, 37% 60%, 37% 74%, 14% 74%, 14% 70%, 0% 70%, 0 65%);
    clip-path: polygon(14% 65%, 14% 60%, 37% 60%, 37% 74%, 14% 74%, 14% 70%, 0% 70%, 0 65%);
    background-color: blue;
    left: 1325px;
    top: 520px;
    position: absolute;
    width: 190px;
    height: 170px;
}



#note {
    -webkit-clip-path: polygon(0 80%, 32% 80%, 32% 100%, 0% 100%);
    clip-path: polygon(0 80%, 32% 80%, 32% 100%, 0% 100%);
    background-color: blue;
    left: 1560px;
    top: 130px;
    position: absolute;
    width: 190px;
    height: 170px;
}


#plume {
    -webkit-clip-path: polygon(0 56%, 13% 56%, 13% 100%, 0% 100%);
    clip-path: polygon(0 56%, 13% 56%, 13% 100%, 0% 100%);
    background-color: blue;
    left: 1575px;
    top: 370px;
    position: absolute;
    width: 190px;
    height: 170px;
}


#phare {
    -webkit-clip-path: polygon(0 56%, 13% 56%, 13% 100%, 0% 100%);
    clip-path: polygon(0 56%, 13% 56%, 13% 100%, 0% 100%);
    background-color: blue;
    left: 970px;
    top: 190px;
    position: absolute;
    width: 190px;
    height: 170px;
}

#orange {
    -webkit-clip-path: polygon(0 96%, 13% 96%, 13% 100%, 0% 100%);
    clip-path: polygon(0 96%, 13% 96%, 13% 100%, 0% 100%);
    background-color: blue;
    left: 1220px;
    top: 260px;
    position: absolute;
    width: 190px;
    height: 170px;
}

#libellulle {
    -webkit-clip-path: polygon(43% 16%, 63% 16%, 71% 25%, 53% 26%, 53% 44%, 50% 44%, 50% 25%, 34% 25%);
    clip-path: polygon(43% 16%, 63% 16%, 71% 25%, 53% 26%, 53% 44%, 50% 44%, 50% 25%, 34% 25%);
    background-color: blue;
    left: 1330px;
    top: 315px;
    position: absolute;
    width: 190px;
    height: 170px;
}

#appareil_photo {
    -webkit-clip-path: polygon(0 76%, 25% 76%, 25% 100%, 0% 100%);
    clip-path: polygon(0 76%, 25% 76%, 25% 100%, 0% 100%);
    background-color: blue;
    left: 1240px;
    top: 410px;
    position: absolute;
    width: 190px;
    height: 170px;
}


.listOfItems {
    padding: 10px;
    margin-top: 164px;
    border: 2px solid rgb(60, 158, 47);
    border-radius: 10px 10px;
    width: fit-content;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(117, 114, 114, 0.2), 0 6px 20px 0 rgba(107, 104, 104, 0.19);
}

.listOfItems span {
    padding: 5px;
    font-weight: bold;
}

.score {
    padding: 10px;
    margin-right: 25px;
    border: 2px solid rgb(161, 36, 36);
    border-radius: 10px 10px;
    width: fit-content;
    margin-left: 570px;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(117, 114, 114, 0.2), 0 6px 20px 0 rgba(107, 104, 104, 0.19);
}

.congratulation {
    left: 930px;
    top: 285px;
    position: absolute;
    font-weight: bolder;
    color: green;
    visibility: hidden;
}




*,
*::before,
*::after {
    box-sizing: border-box;
}

.effet_3d {
    left: 930px;top: 285px;
    position: absolute;
    font-weight: bolder;
    color: green;
    visibility: hidden;
    --couleur: 0, 0, 0;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    font-family: 'Exo';
    color: green;
    text-shadow:
        0 1px 0 #ccc,
        0 2px 0 #acacac,
        0 3px 0 #a0a0a0,
        0 4px 0 #9b9a9a,
        0 5px 0 #888787,
        0 6px 1px rgba(var(--couleur), .1),
        0 0 5px rgba(var(--couleur), .1),
        0 1px 3px rgba(var(--couleur), .3),
        0 3px 5px rgba(var(--couleur), .3),
        0 5px 10px rgba(var(--couleur), .25),
        0 10px 10px rgba(var(--couleur), .2),
        0 20px 20px rgba(var(--couleur), .15);
    font-size: calc(100vw / 10)
}