body {
   
    background: black; 
    color: white;
    margin: 0;
    padding: 0;
}

.canvaa {
    text-align: center;
    margin: 0 auto; 
    margin-top: 5px;
    width: 50%;
    /* border: 1px solid silver; */
}